<h1>Editar Cadastro</h1>
    <hr>
    <form action="/controlepet/updatepet" method="POST">
        <div class="form-control">
            <input type="hidden" name="id" id="id" value="{{pet.id}}">
            <label for="nome">Nome do Pet:</label>
            <input type="text" name="nome_pet" placeholder="Digite o nome do pet" value="{{pet.nome_pet}}">
        </div>

        <div class="form-control">
           
            <label for="nome">Nome do Dono:</label>
            <input type="text" name="nome_dono" placeholder="Digite o nome do dono" value="{{pet.nome_dono}}">
        </div>

        <div class="form-control">
           
            <label for="nome">Raça do Pet:</label>
            <input type="text" name="raca" placeholder="Digite a raça" value="{{pet.raca}}">
        </div>

         <div class="form-control">
            <label for="quant">Idade do Pet:</label>
            <input type="number" name="idade" placeholder="Digite a idade do pet" value="{{pet.idade}}">
        </div>

         <div class="form-control">
            <label for="quant">Peso do Pet:</label>
            <input type="number" name="peso" placeholder="Digite o peso do pet" value="{{pet.peso}}">
        </div>
    
        <input type="submit" value="Editar">
    </form>
