<div class="container padding-top">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">Editar Pet</h1>
                    <form action="/controlepet/updatepet" method="POST">
                        <div class="form-control">
                            <input type="hidden" name="id" id="id" value="{{pet.id}}">
                            <label for="nome_pet">Nome do Pet:</label>
                            <input type="text" name="nome_pet" placeholder="Digite o nome do pet"
                             class="form-control shadow"   value="{{pet.nome_pet}}">
                        </div>
                        <div class="form-control">
                            <label for="nome_dono">Nome do Dono:</label>
                            <input type="text" name="nome_dono" placeholder="Digite o nome do dono"
                             class="form-control shadow"   value="{{pet.nome_dono}}">
                        </div>
                        <div class="form-control">
                            <label for="raca">Raça do Pet:</label>
                            <input type="text" name="raca" placeholder="Digite a raça" class="form-control shadow" value="{{pet.raca}}">
                        </div>
                        <div class="form-control">
                            <label for="idade">Idade do Pet:</label>
                            <input type="number" name="idade" placeholder="Digite a idade do pet" class="form-control shadow" value="{{pet.idade}}">
                        </div>
                        <div class="form-control">
                            <label for="peso">Peso do Pet:</label>
                            <input type="number" name="peso" placeholder="Digite o peso do pet" class="form-control shadow" value="{{pet.peso}}">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Editar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>