<h1 class="centralizar">Lista dos Pets</h1>
<table class="table">
    {{#each listarPet}}
    <thead>
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>Dono</th>
            <th>Raça</th>
            <th>Idade</th>
            <th>Peso</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{id}}</td>
            <td>{{nome_pet}}</td>
            <td>{{nome_dono}}</td>
            <td>{{raca}}</td>
            <td>{{idade}}</td>
            <td>{{peso}}</td>
        </tr>
    </tbody>
    {{/each}}
</table>